<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JohnBPearson.Windows.Forms.Gestures.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="JohnBPearson.Windows.Forms.HotkeyButler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="JohnBPearson.Windows.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <!--<section name="GuildAdTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />-->
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JohnBPearson.Windows.Forms.Gestures.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="JohnBPearson.Windows.Forms.Hotkey.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="JohnBPearson.Windows.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="JohnBPearson.Windows.Forms.Gestures.Properties.Settings.connectionString"
      connectionString="&quot;Data Source=your_database.db;Version=3;&quot;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <JohnBPearson.Windows.Forms.Gestures.Properties.Settings>
      <setting name="MaximumReminders" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="autoSave" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastBoundKeyPressed" serializeAs="String">
        <value>p</value>
      </setting>
      <setting name="ToastOption" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BindableCommands" serializeAs="String">
        <value>dir||||||||||||||||||pushd c:\|||||||s</value>
      </setting>
      <setting name="FlashWindow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DataLength" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="BgColor" serializeAs="String">
        <value />
      </setting>
      <setting name="HexStrings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Data" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>Test a</string>
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Description" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>Test a</string>
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
          </ArrayOfString>
        </value>
      </setting>
      <setting name="IsProtected" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>False</string>
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
            <string />
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MainSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="JsonSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastSavedFileLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="UsedLastSavedNextSession" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseCustomFilePath" serializeAs="String">
        <value>False</value>
      </setting>
    </JohnBPearson.Windows.Forms.Gestures.Properties.Settings>

  </userSettings>
  <applicationSettings>
    <JohnBPearson.Windows.Forms.Gestures.Properties.Settings>
      <setting name="KeyBindingModifiers" serializeAs="String">
        <value>Alt + Shift + </value>
      </setting>
      <setting name="BindableKeysBackup" serializeAs="String">
        <value>a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z</value>
      </setting>
    </JohnBPearson.Windows.Forms.Gestures.Properties.Settings>

  </applicationSettings>
</configuration>